<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:label="NOVORA LinkEngine"
        android:icon="@mipmap/novora_linkengine"
        android:roundIcon="@mipmap/novora_linkengine"
        android:supportsRtl="true">

        <service
            android:name="com.novora.linkengine.VpnNetworkLE"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:foregroundServiceType="specialUse"
            android:exported="true"
            android:stopWithTask="false">

            <intent-filter>
                <action
                    android:name="android.net.VpnService" />
            </intent-filter>

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="NOVORA LinkEngine USB reverse tethering VPN dataplane" />

        </service>

    </application>

</manifest>